<div id="leftsidebar" style="width:25%;float:left">
	<img src="#" alt="Sluggo">
	<p id="about">
		Despite the name, the Law Offices of Sluggo, Sluggo and Sluggo are run by only one Sluggo. Sluggo grew up an orphan in the streets of NYC. During the Occupy Wall St. movement, Sluggo became increasingly disgusted by the "dirty hippies" crowding his favorite bed spots. Taking inspiration from his biological father, Barney Stinson, Sluggo took it upon himself to "Lawyer" every dirty hippie he could find. His humanitarian work earned him a myriad of accolades, including the Nobel Peace Prize.<br><br>
		Sluggo can bench press a car, is an ex-football star, and boasts degrees from both Harvard and Yale. He designed the Sears Tower and makes over two grand an hour, while also cooking the world's best duck flambe. He's a man of the night, a real ladies' delight. His figure was chiseled from stone; come last call he's never alone. He has a house on the hill with a red water bed that puts Hugh Heffnor's mansion to shame. With girls by the pool and Italian sports cars, he's just in this dump for the game.
	</p>
</div>
<div id="main" style="width:70%;float:left">
	<h2>At the law offices of Sluggo, Sluggo, and Sluggo we promise to treat your case with the utmost seriousness.<br><br> Seriously. <br><br> Sluggo, Sluggo and Sluggo:<br> Where lawyering isn't just a job, it's a sport.</h2>

	<div id="paths-of-attack">

		<h3>We're firm believers in process at Sluggo, Sluggo and Sluggo. When considering a case, we excercise one or more of Sluggo's three proven paths of attack:</h3>

		<div class="one-third-column">
			<div class="small-pic">
				<img src="#" alt="good looks">
			</div>
			<h3>Amazing Good Looks</h3>
			<p>What ever your problem is, Sluggo solves it while looking better than everyone else.</p>
		</div>
		<div class="one-third-column">
			<div class="small-pic">
				<img src="#" alt="confusion">
			</div>
			<h3>Confusion</h3>
			<p>In a blink of an eye, Sluggo can change forms, exposing weaknesses in the opponent's defenses.</p>
		</div>
		<div class="one-third-column">
			<div class="small-pic">
				<img src="#" alt="good looks">
			</div>
			<h3>Brute Strength</h3>
			<p>If all else fails, there's nothing a whiskey bottle to the face can't solve</p>
		</div>
	</div>

	<div id="pricing">
		<h3 style="float:left;">The following is a rough breakdown of pricing at Sluggo, Sluggo, and Sluggo:</h3>
		<p class="disclaimer" style="float:left;">All prices are negotiable. Sluggo's does not guarantee the outcome of any case, and welcomes bribes from all parties. Will accept sex, drugs, alcohol, and Nuggs tickets.</p>

		<h2 class="price" style="width:25%;float:left">$9.99</h2>
		<dl class="product-description" style="width:75%;float:left">
			<dt>Lawyered</dt>
			<dd>For the low price of $9.99, Sluggo will Laywer any person you choose</dd>
			<dt>Special: Poetic Justice</dt>
			<dd>For an addition $10.00, Sluggo will Lawyer any person with poety.</dd>
		</dl>
		<h2 class="price" style="width:25%;float:left">Four payments of<br> $24.99</h2>
		<dl class="product-description" style="width:75%;float:left">
			<dt>Please Butter Me Up Before You Lawyer Me</dt>
			<dd>For only four low payments of $24.99, Sluggo will take any person out to a steak dinner, and serande them with Poetic Justice.</dd>
			<dd class="disclaimer">Note: All bills at said dinner will be remitted to the client. Sluggo, Sluggo and Sluggo takes no responsibility for whatever happens after the Patron shots start. If the client is hot, a sexual harrassment waiver may need to be completed prior to services being rendered.</dd>
		</dl>
	</div>
</div>
<div id="footerwrapper">
	<div id="footer">
		<p style="float:left">The Law Offices of Sluggo, Sluggo and Sluggo &trade;</p>
		<p style="float:right">Not a real law office</p>
	</div>
</div>
